:root {
  --bg-color: #c0c0c0;
  --text-color: rgba(0, 0, 0, 0.85);
  --btn-color: #3a6ea5;
}

/*Navbar*/

nav {
  background-color: var(--bg-color);
}

.logo-mark {
  background-color: var(--btn-color);
  padding: 5px;
  border-radius: 12px;
  margin-right: 3px;
}


/*Hero*/

.landing {
  height: 100vh;
  background-color: var(--bg-color);
  /* background: linear-gradient(to right, rgb(33, 37, 41), #071428); */
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.landing h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.landing p {
  font-size: 1.2rem;
  max-width: 600px;
}

.btn-custom {
  background-color: var(--btn-color);
  color: var(--text-color);
  border-radius: 25px;
  padding: 0.75rem 1.5rem;
  margin-top: 20px;
  transition: background-color 0.3s;
  text-decoration: none;
}

#btn-learnmore {
  border: 2px solid var(--btn-color);
  color: var(--text-color);
  border-radius: 25px;
  padding: 0.75rem 1.5rem;
  margin-top: 20px;
  transition: background-color 0.3s;
  text-decoration: none;
}

#btn-learnmore:hover {
  background: var(--btn-color);
  color: var(--text-color);
}

.btn-custom:hover {
  border: 2px solid var(--btn-color);
  background-color: rgba(58, 110, 165, 0.8);
  color: var(--text-color);
}

.hero-img {
  max-width: 100%;
  border-radius: 50%;
  /* box-shadow: 0 0px 0px rgba(0,0,0,0.2); */
}
    
@media (max-width: 768px) {
  .landing {
    text-align: center;
  }
  .landing h1 {
    font-size: 2.5rem;
  }
}

/* About */

.about {
  padding-top: 100px;
  /* height: 100vh; */
  background-color: var(--bg-color);
  /* background: linear-gradient(to right, rgb(33, 37, 41), #071428); */
  color:  var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.about img {
  width: 500px;
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
  .landing h1 {
    font-size: 2.5rem;
  }

  .about img {
    width: 300px;
  }
}



